/* #name{
    margin-bottom:1.0rem;
    font-family: "mulish" "san-serif";
}
#email{
    margin-bottom:1.0rem;
    font-family: "mulish" "san-serif";
}
#phone{
    margin-bottom:1.0rem;
    font-family: "mulish" "san-serif";
}
#con-label{
    font-family: "mulish" "san-serif";
    font-weight:3.5rem;
}
.outline-contact{
    border-radius:1.5rem;
    width:20.5rem;
    align-item:center;
    font-family: "mulish" "san-serif";
   
    margin-left:30.5rem;
    border: 0px solid #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#btn-submit{
    margin:1.5rem;
    margin-left:2.5rem;
}
.container-con{
    border-radius:1.5rem;
    margin-left:30.5rem;
    width:20.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#con-name{
   
   margin-left:2.5rem;
}
::placeholder {
    color: gray; 
    font-size: 14px;
  } */
  .container-con{
    border-radius:1.5rem;
    margin-left:30.5rem;
    width:20.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.con-full{
    margin:1rem;
}
#con-name{
    margin:1rem;
}
#con-mail{
    margin:1rem;
}
#con-phone{
    margin:1rem;
}
#btn-submit{
    margin-right: 5rem;
    width: 8rem;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 13px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 10px;
    transition: 0.1s;
    color: var(--primary-v);
    border: 1px solid #39B5E0;
    text-decoration: none;
    margin-left:4.5rem;
  }
  
  #btn-submit:hover {
    background: #39B5E0;
    color: #fff;
  }