@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    font-family: "mulish" "san-serif";
  }
 .acmfootlogo{
    width:4.5rem;
    /* margin-left:12.5rem; */
    height:4.5rem;
}
.sistfootlogo{
         width: 15.0rem;
         height: 4.0rem;
 
 }
 .con-fotfin{
    list-style:none;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
.footer-bot {
    margin-top:4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #39B5E0;
    border-top-left-radius: 400px;
	border-top-right-radius:40px;
}
.res-foot{
    padding-top:2.5rem;
    padding-left:3.5rem;
    padding-right:3.5rem;
}
#foot-link{
    text-decoration: none;
    color:#000;

}
#foot-hover:hover{
    transform: scale(1.10);
}