@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
  --primary-white:#fff;
  --primary-dark: rgba(255,255,255,0);
  --primary-black: #000;
  --primary-v: #610f70;
  --primary-blue: #0000FF;
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
}


body{
  font-family: "mulish" "san-serif";
}



/**************NAVBAR***************/
.acmnavlogo{
  width: 4.0rem;
  height: 4.0rem;
}
.Nav.Link:focus{
  border-bottom: 0.18rem solid var(--primary-blue);
}
