@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
  --primary-white:#fff;
  --primary-dark: rgba(255,255,255,0);
  --primary-black: #000;
  --primary-v: #610f70;
  --primary-blue: #0000FF;
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
}


body{
  font-family: "mulish" "san-serif";
}



/**************NAVBAR***************/
#nav-items-fin{
  margin-left:20.5rem;
}
.acmnavlogo{
  width: 4.0rem;
  height: 4.0rem;
}
.Nav.Link:focus{
  border-bottom: 0.18rem solid var(--primary-blue);
}





/*********************Home*****************/
.abt{
  text-align:center;
  padding: 10px;
}
#ph1{
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#ph2{
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.abt-con1{
  text-align:center;
  padding-left: 10px;
  padding-right:10px;
  font-family: "mulish" "san-serif";
  justifyContent: 'center';
}
.abt-con2{
  text-align:center;
  font-family: "mulish" "san-serif";
}

/******************About****************/

#img-abt{
 
}




/******************Team********************/
.list-icon{
  list-style:none;
}
#Linked-icon{
      margin-left:1rem;
      margin-right:1rem;
}
#Linked-icon:hover{
  transform: scale(1.25);
}
#Mail-icon{
  margin-left:1rem;
  margin-right:1rem;
}
#Mail-icon:hover{
transform: scale(1.25);
}
#Insta-icon{
  margin-left:1rem;
  margin-right:1rem;
}
#Insta-icon:hover{
  transform: scale(1.25);
  
}

.blog-img{
  /* width: 30%; */
  /* border-radius: 20.5rem; */
  overflow: hidden;
  position: relative;
  height:280px;
  box-shadow: rgb(0 0 0 / 22%) 0px 30px 60px -10px, rgb(0 0 0 / 25%) 0px 18px 36px -18px;
  margin-bottom: 30px;
  transition: transform 0.3s var(--ease-out-quad),box-shadow 0.3s var(--ease-out-quad);
}
.blog-card a{
  display: block;
}
#Profile-img{
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 150px;
    height: 150px;
  object-fit: cover;
    border-radius: 100%;
}
#Title-team{
  text-align:center;
  /* margin-left:5.0rem; */
}
#Profile-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
#Title-team-des{
  text-align:center;
  /* margin-left:6.0rem; */
  font-weight: 500;
  font-size: 1.0rem;
  letter-spacing: 0.5px;
}
.blog-card{
  margin-top: 1rem;
  border-radius: 0px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.blog-card:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/***************Events*****************/
.Total-event{
  margin: 2rem;
}

#Event-gap {
 margin: 2rem;
 border-radius: 25px;
}
#Event-gap:hover{
transform: scale(1.05);
}
#event-img{
border-top-left-radius: 25px;
border-top-right-radius:25px;
}
.pre-event-title{
 margin-left:4rem;
}

/*************Contact**********/
